<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.roses.logger.mapper.TraceLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.roses.api.log.entity.RosesTraceLog">
        <id column="ID" property="id" />
        <result column="APPLICATION_NAME" property="applicationName" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="SERVLET_PATH" property="servletPath" />
        <result column="RPC_PHASE" property="rpcPhase" />
        <result column="TRACE_ID" property="traceId" />
        <result column="SPAN_ID" property="spanId" />
        <result column="PARENT_SPAN_ID" property="parentSpanId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CONTENT" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id, APPLICATION_NAME AS applicationName,
        METHOD_NAME AS methodName, SERVLET_PATH AS servletPath,
        RPC_PHASE AS rpcPhase, TRACE_ID AS traceId, SPAN_ID AS spanId,
        PARENT_SPAN_ID AS parentSpanId, CREATE_TIME AS createTime,
        CONTENT AS content
    </sql>

</mapper>
