<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.roses.persistence.dao.MessageMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.roses.persistence.model.Message">
		<id column="id" property="id" />
		<result column="version" property="version" />
		<result column="editor" property="editor" />
		<result column="creater" property="creater" />
		<result column="edit_time" property="editTime" />
		<result column="create_time" property="createTime" />
		<result column="message_id" property="messageId" />
		<result column="message_body" property="messageBody" />
		<result column="message_data_type" property="messageDataType" />
		<result column="consumer_queue" property="consumerQueue" />
		<result column="message_send_times" property="messageSendTimes" />
		<result column="areadly_dead" property="areadlyDead" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="field1" property="field1" />
		<result column="field2" property="field2" />
		<result column="field3" property="field3" />
	</resultMap>

</mapper>
