<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.admin.common.persistence.dao.SecretMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.roses.auth.modular.entity.Secret">
        <id column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="secret" property="secret" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id AS appId, secret
    </sql>

</mapper>
