<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.roses.auth.modular.mapper.SysRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, description, create_time AS createTime, update_time AS updateTime, status
    </sql>

    <select id="getPermissionsByRoleId" resultType="com.stylefeng.roses.auth.modular.entity.SysPermission">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_permission where id IN (select perm_id from sys_role_perm where role_id = #{roleId})
    </select>

</mapper>
